/* Estilo da logo */
.logo-site {
    width: 150px;
    display: block;
    margin: 0 auto;
}

/* Estilo do header */
header {
    background-color: #1d8635;
    padding: 20px 0;
}

.navegacao {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 20px;
    max-width: 1200px;
}


nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    font-size: 2rem;
}

nav li {
    padding: 15px;
}

.GERAl {
    text-align: center;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #ecf0f1;
    font-weight: bold;
}

nav ul li a:hover {
    color: #166296;
}

.IFES-back {
    width: 100px;
    display: block;
    margin: 0 auto;
}

/* Estilo do conteúdo principal */
.conteudo-principal {
    text-align: center;
    margin: 30px 0;
}

#BtDesafio {
    background-color: #e74c3c;
    color: #FFF;
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s;
    display: block;
    margin: 20px auto;
    /* Centraliza o botão */
}

#BtDesafio:hover {
    background-color: #c0392b;
}

.DESAFIO {
    width: 200px;
    display: block;
    margin: 0 auto;
}

/* Estilo do footer */
footer {
    text-align: center;
    padding: 10px;
    background-color: #1d8635;
    color: #fff;
    position: fixed;
    width: 100%;
    bottom: 0;
}

.container {
    background-color: #e5e5e5;
    height: 100vh;
}