/* Importação de fontes do Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Merriweather&family=Pacifico&display=swap');

/* Fonte Display personalizada do dafont.com */
@font-face {
    font-family: 'CustomDisplay';
    src: url('fonts/custom-display.ttf') format('truetype');
}

body {
    font-family: Arial, Helvetica, sans-serif;
}
header {
    background-color: #1d8635;
    padding: 20px 0;
    font-family: 'Merriweather', serif;
    font-size: 2.5em;
    text-align: center;
    height: auto;
}

.logo-site {
    width: 150px;
    margin: 10px left;

}


.navegacao {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    width: 100px;

}
/*--------------------------------------HEADER--------------------------------------*/


.GERAl {
    text-align: center;
    font-family: 'Merriweather', serif;
    font-size: 2.5em;
}

.navegacao {
    padding: 20px 0;
    width: 940px;
    margin: 0 auto;
}

nav li {
    display: inline;
}

nav li:first-child {
    margin-right: 100px;
}

nav li:last-child {
    margin-left: 100px;
}

nav a {
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    color: #FFFFFF;
}

nav {
    position: absolute;
    top: 70px;
    right: 230px;
}

.banner {
    width: 100%;
}

.caixa {
    display: inline-block;
    text-align: center;
    width: 250px;
    margin: 10px 160px;
    height: 250px;
    background-color: #BF1B28;
}

.caixa p {
    font-size: 30px;
    padding: 135px 0;
}

.logo-if {
    display: inline;
    width: 180px;
    height: 180px;
    float: right;
}

.provisorio {
    text-justify: justify;
    width: 940px;
    margin: 0 auto;
    text-align: center;
}


footer {
    text-align: center;
    padding: 10px;
    background-color: #1d8635;
    color: #fff;
    position: fixed;
    width: 100%;
    bottom: 0;

}