main {
    background-color: #e5e5e5;
    padding: 40px 0;
    box-shadow: 1px 1px 4px 1px black;
}

.caixa-central {
    position: relative;
    background-color: #FFFFFF;
    width: 940px;
    margin: 0 auto;
    padding: 0 20px;
    border-radius: 10px;
}

.caixa-banner {
    position: relative;
    width: 900px;
    margin: 0 auto;
}

.banner {
    margin: 40px 0;
    width: 100%;
    border-radius: 8px;
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 1);
}

.caixa {
    display: inline-block;
    text-align: center;
    width: 350px;
    margin: 10px 50px;
    height: 150px;
    background-color: #37A63E;
    border-radius: 8px;
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 1);
}

.caixa h3 {
    display: block;
    font-weight: bold;
    font-size: 20px;
    padding: 15px 0;
    text-transform: uppercase;
}

.icone-prova {
    width: 50px;
    height: 50px;
}

.icone-desafio {
    width: 50px;
    height: 50px;
}

.caixa p {
    padding: 10px 0;
}

.logo-if {
    display: inline;
    width: 180px;
    height: 180px;
}

.informativo {
    text-justify: justify;
    width: 900px;
    margin: 0 auto;
    line-height: 1.5em;
    margin-bottom: 10px;
}

a {
    text-decoration: none;
    color: white;
}