body {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: #37A63E;
}

.navegacao {
    padding: 10px 0;
    width: bold;
}

.navegacao p {
    display: inline;
    margin: 0 130px;
}

.banner {
    width: 100%;
}

.caixa {
    display: inline-block;
    text-align: center;
    width: 350px;
    margin: 10px 160px;
    height: 300px;
    background-color: #BF1B28;
}

.caixa p{
    font-size: 30px;
    padding: 135px 0;
}

.logo-if {
    display: inline;
    width: 180px;
    height: 180px;
}

.provisorio {
    text-justify: justify;
    width: 940px;
    margin: 0 auto;
    text-align: center;
}

footer {
    background-color: #37A63E;
    padding: 15px;
    font-size: 13px;
}