main {
    background-color: #e5e5e5;
    padding: 40px 0;
    box-shadow: 1px 1px 4px 1px black;
}

.caixa-central {
    position: relative;
    background-color: #FFFFFF;
    width: 940px;
    margin: 0 auto;
    padding: 0 20px;
    border-radius: 10px;
}

#inFiltro{
    width: 325px;
}