main {
    background-color: #e5e5e5;
    padding: 40px 0;
    box-shadow: 1px 1px 4px 1px black;
}

.caixa-central {
    display: flex;
    justify-content: space-around;
    position: relative;
    background-color: #FFFFFF;
    width: 940px;
    margin: 20px auto;
    padding: 5px;
    border-radius: 10px;
}

#inFiltro{
    width: 325px;
}

